body{
    font-family: 'Roboto', sans-serif;
}

.titulos{
    font-family: 'Rajdhani', sans-serif !important;
}

header{
    font-family: 'Rajdhani', sans-serif;
}

@media screen and (min-width: 992px) {
    .header_buttons{
        margin: 0.3em !important;
    }
    
}
.header_list{
    display: flex;
}
@media screen and (max-width: 991px){
    .header_list{
        display: block !important;
    }
}
.toast-success {
    background-color: #51A351 !important;
}
.toast-error {
    background-color: #BD362F !important;
}
.toast-info {
    background-color: #2F96B4 !important;
}